body {
  background-color: var(--main-bg-color2);
}

:root {
    --main-bg-color: grey;
    --main-bg-color2: white;
}

button {
    background-color: var(--main-bg-color);
    border: none;
    width: 50%;
    height: 20%;
    left: 0;
    top: 60%;
    padding: 15px 32px;
    cursor: pointer;
}

button:hover {
  background: #4CAF50;
}

.rectangle-grey1 {
  position: absolute;
  background-color: grey;
  width: 10%;
  height: 10%;
  top: 80%;
  right:0%;
  animation: up 3s;
}

.rectangle-grey2 {
  position: absolute;
  background-color: grey;
  width: 5%;
  height: 10%;
  top: 20%;
  right:0%;
  animation: down 3s;
}

.rectangle-grey3 {
  position: absolute;
  background-color: #4CAF50;
  width: 30%;
  height: 10%;
  top: 50%;
  right:0%;
}

.rectangle-grey4 {
  position: absolute;
  background-color: grey;
  width: 20%;
  height: 10%;
  top: 65%;
  right:0%;
}
.rectangle-grey5 {
  position: absolute;
  background-color: grey;
  width: 25%;
  height: 10%;
  top: 35%;
  right:0%;
}

@keyframes down {
  0%{
    top:-10%;
  }
  100%{
    top:20%;
  }
}

@keyframes up {
  0%{
    top:110%;
  }
  100%{
    top:80%;
  }
}

#Contact {
  position: absolute;
  left: 5%;
  top: 10%;
}

form {
  width: 70%;
  height: 100%;
  margin-top: 10%;
  margin-left: 4.5%;
}

input[type=text], select, textarea {
    width: 80%;
    background-color: #DCDCDC;
    padding: 15px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: grey;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
    height: 10%;
}

input[type=submit]:hover {
    background-color: #4CAF50;
}

.container {
    padding: 20px;
}

/* Letters */

.letter-definition {
	display: none;
}

.word {
  display: inline-block;
  white-space: nowrap;
}

.space {
	width: 112px;
	height: 220px;
}

.letter {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  margin-right: 3em;
  margin-bottom: 4em;
}

.letterbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color);
}

body.off .letterbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color2);
}

.A .left-diagonal {
  position: absolute;
  width: 110%;
  height: 25%;
  background: var(--main-bg-color2);
  transform: rotate(-80deg);
  margin-left: -22%;
}

body.off .A .left-diagonal {
  background: var(--main-bg-color);;
}

.A .left-diagonal {
  position: absolute;
  width: 110%;
  height: 25%;
  background: var(--main-bg-color2);
  transform: rotate(-80deg);
  margin-left: -22%;
}

body.off .A .left-diagonal {
  background: var(--main-bg-color);;
}

.A .right-diagonal {
  position: absolute;
  width: 110%;
  height: 25%;
  background: var(--main-bg-color2);
  transform: rotate(80deg);
  margin-left: 22%;
}

body.off .A .right-diagonal {
  background: var(--main-bg-color);;
}

.A .horizontal-one , .H .rectangle-middle {
  position: absolute;
  width: 85%;
  height: 25%;
  background: var(--main-bg-color2);
}

body.off .A .horizontal-one , body.off .H .rectangle-middle {
  background: var(--main-bg-color);;
}

.A .triangle {
  width: 40%;
  height: 40%;
  border-bottom: 100px solid var(--main-bg-color2);
  left: 31%;
  bottom: 55%;
  position: absolute;
}

body.off .A .triangle {
  border-bottom: 100px solid var(--main-bg-color);;
}

.B .halfcircle-one {
  position: absolute;
  height: 80%;
  width: 55%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(90deg);
  left: 25%;
  bottom: -14%;
}

body.off .B .halfcircle-one {
  background: var(--main-bg-color);;
}

.B .halfcircle-two {
  position: absolute;
  height: 80%;
  width: 55%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(90deg);
  left: 25%;
  bottom: 37%;
}

body.off .B .halfcircle-two {
  background: var(--main-bg-color);;
}

.C .halfcircle , .G .halfcircle {
  position: absolute;
  height: 82%;
  width: 110%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(-90deg);
  margin-left: -2%;
  margin-bottom: 0;
}

body.off .C .halfcircle , body.off .G .halfcircle {
  background: var(--main-bg-color);;
}

.C .halfcircle2 , .G .halfcircle2 {
  position: absolute;
  height: 60%;
  width: 60%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(-90deg);
  margin-left: 15%;
  margin-bottom: 0;
  z-index: 2;
}

body.off .C .halfcircle2 , body.off .G .halfcircle2 {
  background: var(--main-bg-color2);
}

.D .halfcircle {
  position: absolute;
  height: 80%;
  width: 105%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(90deg);
  left: -3%;
  bottom: 12%;
}

body.off .D .halfcircle {
  background: var(--main-bg-color);;
}

.E .rectangle-top , .F .rectangle-top , .I .rectangle-top {
  position: absolute;
  width: 82%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 75%;
}

body.off .E .rectangle-top , body.off .F .rectangle-top , body.off .I .rectangle-top {
  background: var(--main-bg-color);;
}

.E .rectangle-middle , .F .rectangle-middle {
  position: absolute;
  width: 75%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 35%;
}

body.off .E .rectangle-middle , body.off .F .rectangle-middle {
  background: var(--main-bg-color);;
}

.E .rectangle-bottom , .I .rectangle-bottom {
  position: absolute;
  width: 82%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: -5%;
}

body.off .E .rectangle-bottom , body.off .I .rectangle-bottom {
  background: var(--main-bg-color);;
}

.E .rectangle-back , .F .rectangle-back {
  position: absolute;
  width: 30%;
  height: 105%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 20%;
}

body.off .E .rectangle-back , body.off .F .rectangle-back {
  background: var(--main-bg-color);;
}

.G .rectangle {
  position: absolute;
  width: 25%;
  height: 60%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 65%;
  z-index: 3;
}

body.off .G .rectangle {
  background: var(--main-bg-color);;
}

.H .rectangle-left {
  position: absolute;
  width: 25%;
  height: 105%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 15%;
  z-index: 3;
}

body.off .H .rectangle-left {
  background: var(--main-bg-color);;
}

.H .rectangle-right {
  position: absolute;
  width: 25%;
  height: 105%;
  background: var(--main-bg-color2);
  bottom: -5%;
  right: 15%;
  z-index: 3;
}

body.off .H .rectangle-right {
  background: var(--main-bg-color);;
}

.I .rectangle-long {
  position: absolute;
  width: 25%;
  height: 105%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 38%;
  z-index: 3;
}

body.off .I .rectangle-long {
  background: var(--main-bg-color);;
}

.J .halfcircle {
  position: absolute;
  height: 54%;
  width: 86.75%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(180deg);
  left: 7%;
  bottom: -4%;
}

body.off .J .halfcircle {
  background: var(--main-bg-color);;
}

.J .halfcircle2 {
  position: absolute;
  height: 35%;
  width: 41%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(180deg);
  left: 30%;
  bottom: 18%;
  z-index: 2;
}

body.off .J .halfcircle2 {
  background: var(--main-bg-color2);
}

.J .rectangle1 {
  position: absolute;
  width: 23.5%;
  height: 60%;
  background: var(--main-bg-color2);
  bottom: 25%;
  left: 70.5%;
  z-index: 3;
}

body.off .J .rectangle1 {
  background: var(--main-bg-color);;
}

.J .rectangle2 {
  position: absolute;
  width: 86%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 75%;
  left: 8%;
  z-index: 3;
}

body.off .J .rectangle2 {
  background: var(--main-bg-color);;
}

.K .rectangle-long , .P .rectangle {
  position: absolute;
  width: 30%;
  height: 110%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 19%;
  z-index: 3;
}

body.off .K .rectangle-long , body.off .P .rectangle {
  background: var(--main-bg-color);;
}

.K .diagonal-top {
  position: absolute;
  width: 111%;
  height: 25%;
  background: var(--main-bg-color2);
  transform: rotate(-30deg);
  margin-left: 6%;
  bottom: 54%;
}

body.off .K .diagonal-top {
  background: var(--main-bg-color);;
}

.K .diagonal-bottom {
  position: absolute;
  width: 96%;
  height: 25%;
  background: var(--main-bg-color2);
  transform: rotate(40deg);
  margin-left: 18%;
  bottom: 19%;
}

body.off .K .diagonal-bottom {
  background: var(--main-bg-color);;
}

.L .rectangle-long {
  position: absolute;
  width: 25%;
  height: 105%;
  background: var(--main-bg-color2);
  bottom: 0%;
  left: 20%;
  z-index: 3;
}

body.off .L .rectangle-long {
  background: var(--main-bg-color);;
}

.L .rectangle-short {
  position: absolute;
  width: 82%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 0%;
}

body.off .L .rectangle-short {
  background: var(--main-bg-color);;
}

.M .rectangle-long-left , .N .rectangle-long-left , .W .rectangle-long-left{
  position: absolute;
  width: 25%;
  height: 105%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 8%;
  z-index: 3;
}

body.off .M .rectangle-long-left , body.off .N .rectangle-long-left , body.off .W .rectangle-long-left{
  background: var(--main-bg-color);;
}

.M .rectangle-long-right , .N .rectangle-long-right , .W .rectangle-long-right{
  position: absolute;
  width: 25%;
  height: 105%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 67%;
  z-index: 3;
}

body.off .M .rectangle-long-right , body.off .N .rectangle-long-right , body.off .W .rectangle-long-right{
  background: var(--main-bg-color);;
}

.M .rectangle-short-left {
  position: absolute;
  width: 31%;
  height: 28%;
  background: var(--main-bg-color2);
  transform: rotate(45deg);
  margin-left: -16%;
  bottom: 65%;
}

body.off .M .rectangle-short-left {
  background: var(--main-bg-color);;
}

.M .rectangle-short-right {
  position: absolute;
  width: 55%;
  height: 28%;
  background: var(--main-bg-color2);
  transform: rotate(-45deg);
  margin-left: 9%;
  bottom: 57.5%;
}

body.off .M .rectangle-short-right {
  background: var(--main-bg-color);;
}

.N .diagonal {
  position: absolute;
  width: 108%;
  height: 25%;
  background: var(--main-bg-color2);
  transform: rotate(60deg);
  left: -4%;
  bottom: 35%;
}

body.off .N .diagonal {
  background: var(--main-bg-color);;
}

.O .circle , .Q .circle {
  position: absolute;
  left: 6%;
  bottom: -3%;
  background: var(--main-bg-color2);
  height: 106%;
  width: 87%;
  border-radius: 50%;
  }

body.off .O .circle , body.off .Q .circle {
    background: var(--main-bg-color);;
    }

.P .half-circle , .R .half-circle {
  position: absolute;
  height: 70%;
  width: 71%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(90deg);
  left: 23%;
  bottom: 34%;
}

body.off .P .half-circle , body.off .R .half-circle {
  background: var(--main-bg-color);;
}

.P .rectangle-small {
  position: absolute;
  height: 25%;
  width: 25%;
  left: 9%;
  bottom: 34%;
  background: var(--main-bg-color2);
}

body.off .P .rectangle-small {
  background: var(--main-bg-color);;
}

.Q .rectangle {
  position: absolute;
  height: 25%;
  width: 35%;
  right: -10%;
  bottom: 0%;
  background: var(--main-bg-color2);
  transform: rotate(45deg);
}

body.off .Q .rectangle {
  background: var(--main-bg-color);;
}

.R .rectangle {
  position: absolute;
  width: 30%;
  height: 110%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 10%;
  z-index: 3;
}

body.off .R .rectangle {
  background: var(--main-bg-color);;
}

.R .rectangle2 {
  position: absolute;
  height: 25%;
  width: 70%;
  right: -3%;
  bottom: 6%;
  background: var(--main-bg-color2);
  transform: rotate(45deg);
}

body.off .R .rectangle2 {
  background: var(--main-bg-color);;
}

.S .rectangle-top {
  position: absolute;
  width: 85%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 75%;
  left: 7%;
}

body.off .S .rectangle-top {
  background: var(--main-bg-color);;
}

.S .rectangle-diagonal {
  position: absolute;
  width: 23%;
  height: 102%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 36%;
  transform: rotate(-38deg);
    }

body.off .S .rectangle-diagonal {
  background: var(--main-bg-color);;
}

.S .rectangle-bottom {
  position: absolute;
  width: 85%;
  height: 20%;
  background: var(--main-bg-color2);
  bottom: 0%;
  left: 8%;
}

body.off .S .rectangle-bottom {
  background: var(--main-bg-color);;
}

.S .rectangle-left{
  position: absolute;
  width: 25%;
  height: 20%;
  background: var(--main-bg-color2);
  bottom: 15%;
  left: 8%;
}

body.off .S .rectangle-left{
  background: var(--main-bg-color);;
}

.S .rectangle-right {
  position: absolute;
  width: 25%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 60%;
  left: 67%;
}

body.off .S .rectangle-right {
  background: var(--main-bg-color);;
}

.T .rectangle-top , .Z .rectangle-top {
  position: absolute;
  width: 85%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 75%;
  left: 7%;
}

body.off .T .rectangle-top , body.off .Z .rectangle-top {
  background: var(--main-bg-color);;
}

.T .rectangle-bottom {
  position: absolute;
  width: 25%;
  height: 100%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 39%;
}

body.off .T .rectangle-bottom {
  background: var(--main-bg-color);;
}

.U .half-circle1 {
  position: absolute;
  height: 111%;
  width: 80%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(180deg);
  left: 10%;
  bottom: -9%;
}

body.off .U .half-circle1 {
  background: var(--main-bg-color);;
}

.U .half-circle2 {
  position: absolute;
  height: 80%;
  width: 30%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(180deg);
  left: 36%;
  bottom: 24%;
  z-index: 2;
}

body.off .U .half-circle2 {
  background: var(--main-bg-color2);
}

.V .rectangle-left {
  position: absolute;
  width: 23%;
  height: 112%;
  background: var(--main-bg-color2);
  bottom: -4%;
  left: 61%;
  transform: rotate(25deg);
}

body.off .V .rectangle-left {
  background: var(--main-bg-color);;
}

.V .rectangle-right {
  position: absolute;
  width: 23%;
  height: 112%;
  background: var(--main-bg-color2);
  bottom: -4%;
  left: 15%;
  transform: rotate(-25deg);
}

body.off .V .rectangle-right {
  background: var(--main-bg-color);;
}

.V .square{
  position: absolute;
  width: 18%;
  height: 15%;
  background: var(--main-bg-color2);
  bottom: -3%;
  left: 39.5%;
  z-index: 3;
}

body.off .V .square{
  background: var(--main-bg-color);;
}

.W .rectangle-short-left {
  position: absolute;
  width: 31%;
  height: 28%;
  background: var(--main-bg-color2);
  transform: rotate(-45deg);
  margin-left: -16%;
  bottom: 2%;
}

body.off .W .rectangle-short-left {
  background: var(--main-bg-color);;
}

.W .rectangle-short-right {
  position: absolute;
  width: 55%;
  height: 28%;
  background: var(--main-bg-color2);
  transform: rotate(45deg);
  margin-left: 9%;
  bottom: 10.5%;
}

body.off .W .rectangle-short-right {
  background: var(--main-bg-color);;
}

.X .rectangle-left {
  position: absolute;
  width: 23%;
  height: 142%;
  background: var(--main-bg-color2);
  bottom: -22%;
  left: 37%;
  transform: rotate(-45deg);
}

body.off .X .rectangle-left {
  background: var(--main-bg-color);;
}

.X .rectangle-right {
  position: absolute;
  width: 23%;
  height: 142%;
  background: var(--main-bg-color2);
  bottom: -22%;
  left: 39%;
  transform: rotate(45deg);
}

body.off .X .rectangle-right {
  background: var(--main-bg-color);;
}

.Y .rectangle-left {
  position: absolute;
  width: 23%;
  height: 80%;
  background: var(--main-bg-color2);
  bottom: 32%;
  left: 17%;
  transform: rotate(-45deg);
}

body.off .Y .rectangle-left {
  background: var(--main-bg-color);;
}

.Y .rectangle-right {
  position: absolute;
  width: 23%;
  height: 80%;
  background: var(--main-bg-color2);
  bottom: 31%;
  left: 61%;
  transform: rotate(45deg);
}

body.off .Y .rectangle-right {
  background: var(--main-bg-color);;
}

.Y .rectangle {
  position: absolute;
  width: 23%;
  height: 65%;
  background: var(--main-bg-color2);
  bottom: 0%;
  left: 39%;
}

body.off .Y .rectangle {
  background: var(--main-bg-color);;
}


.Z .diagonal {
  position: absolute;
  width: 23%;
  height: 102%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 40%;
  transform: rotate(38deg);

}

body.off .Z .diagonal {
  background: var(--main-bg-color);;
}

.Z .rectangle-bottom {
  position: absolute;
  width: 85%;
  height: 20%;
  background: var(--main-bg-color2);
  bottom: 0%;
  left: 8%;
}

body.off .Z .rectangle-bottom {
  background: var(--main-bg-color);;
}

.zero .circle {
  position: absolute;
  left: 13%;
  bottom: -3%;
  background: var(--main-bg-color2);
  height: 106%;
  width: 75%;
  border-radius: 50%;
}

body.off .zero .circle {
  background: var(--main-bg-color);;
}

.one .line {
  position: absolute;
  width: 25%;
  height: 105%;
  background: var(--main-bg-color2);
  bottom: -5%;
  left: 37%;
  z-index: 3;
}

body.off .one .line {
  background: var(--main-bg-color);;
}

.two .circle1 , .three .circle1 , .question-mark .circle1 {
  position: absolute;
  height: 82%;
  width: 60%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(90deg);
  left: 20%;
  bottom: 30%;
}

body.off .two .circle1 , body.off .three .circle1 , body.off .question-mark .circle1 {
  background: var(--main-bg-color);;
}

.two .circle2 , .three .circle2 , .question-mark .circle2{
  position: absolute;
  height: 54%;
  width: 25%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(90deg);
  left: 22%;
  bottom: 45%;
  z-index: 2;
}

body.off .two .circle2 , body.off .three .circle2 , body.off .question-mark .circle2{
  background: var(--main-bg-color2);
}

.two .line1 {
  position: absolute;
  width: 25%;
  height: 60%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 20%;
  z-index: 3;
}

body.off .two .line1 {
  background: var(--main-bg-color);;
}

.two .line2 {
  position: absolute;
  width: 80%;
  height: 23%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 9%;
  z-index: 3;
}

body.off .two .line2 {
  background: var(--main-bg-color);;
}

.three .circle3 {
  position: absolute;
  height: 82%;
  width: 60%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(90deg);
  left: 20%;
  bottom: -13%;
}

body.off .three .circle3 {
  background: var(--main-bg-color);;
}

.three .circle4 {
  position: absolute;
  height: 54%;
  width: 23%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);
  transform: rotate(90deg);
  left: 22%;
  bottom: 1%;
  z-index: 2;
}

body.off .three .circle4 {
  background: var(--main-bg-color2);
}

.three .rectangle {
  position: absolute;
  width: 20%;
  height: 21%;
  background: var(--main-bg-color);
  bottom: 39%;
  left: 9%;
  z-index: 3;
}

body.off .three .rectangle {
  background: var(--main-bg-color2);
}

.four .rectangle-short-left {
  position: absolute;
  width: 25%;
  height: 50%;
  background: var(--main-bg-color2);
  bottom: 51%;
  left: 10%;
  z-index: 3;
}

body.off .four .rectangle-short-left {
  background: var(--main-bg-color);;
}

.four .rectangle-long-right {
  position: absolute;
  width: 25%;
  height: 102%;
  background: var(--main-bg-color2);
  bottom: -2%;
  left: 55%;
  z-index: 3;
}

body.off .four .rectangle-long-right {
  background: var(--main-bg-color);;
}

.four .rectangle-middle {
  position: absolute;
  width: 80%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 39%;
  left: 10%;
  z-index: 3;
}

body.off .four .rectangle-middle {
  background: var(--main-bg-color);;
}

.five .circle1{
  position: absolute;
  height: 82%;
  width: 60%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color2);
  transform: rotate(90deg);
  left: 20%;
  bottom: -13%;
}

body.off .five .circle1{
  background: var(--main-bg-color);;
}

.five .circle2 {
  position: absolute;
  height: 54%;
  width: 25%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(90deg);
  left: 22%;
  bottom: 0%;
  z-index: 4;
}

body.off .five .circle2 {
  background: var(--main-bg-color2);
}

.five .rectangle1 {
  position: absolute;
  width: 25%;
  height: 61%;
  background: var(--main-bg-color2);
  bottom: 39%;
  left: 20%;
  z-index: 3;
}

body.off .five .rectangle1 {
  background: var(--main-bg-color);;
}

.five .rectangle2 {
  position: absolute;
  width: 80%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 77%;
  left: 9%;
  z-index: 3;
}

body.off .five .rectangle2 {
  background: var(--main-bg-color);;
}

.six .rectangle {
  position: absolute;
  width: 25%;
  height: 75%;
  background: var(--main-bg-color2);
  bottom: 26%;
  left: 8%;
  z-index: 3;
}

body.off .six .rectangle {
  background: var(--main-bg-color);;
}

.seven .rectangle-top {
  position: absolute;
  width: 85%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 75%;
  left: 7%;
  z-index: 3;
}

body.off .seven .rectangle-top {
  background: var(--main-bg-color);;
}

.seven .rectangle-diagonal , .nine .rectangle{
  position: absolute;
  width: 25%;
  height: 100%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 67%;
  z-index: 3;
}

body.off .seven .rectangle-diagonal , body.off .nine .rectangle{
  background: var(--main-bg-color);;
}

.eight .circle1 , .six .circle1{
  position: absolute;
  width: 85%;
  height: 65%;
  background: var(--main-bg-color2);
  border-radius: 50%;
  left: 8%;
  bottom: -3%;
}

body.off .eight .circle1 , body.off .six .circle1{
  background: var(--main-bg-color);;
}


.eight .circle3 , .nine .circle1 {
  position: absolute;
  width: 85%;
  height: 65%;
  background: var(--main-bg-color2);
  border-radius: 50%;
  left: 8%;
  bottom: 37%;
}

body.off .eight .circle3 , body.off .nine .circle1 {
  background: var(--main-bg-color);;
}

.nine .rectangle{
  position: absolute;
  width: 25%;
  height: 75%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 68%;
  z-index: 3;
}

body.off .nine .rectangle{
  background: var(--main-bg-color);;
}

.question-mark .rectangle{
  position: absolute;
  width: 25%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 19%;
  left: 19.5%;
  z-index: 3;
}

body.off .question-mark .rectangle{
  background: var(--main-bg-color);;
}

.question-mark .dot {
  position: absolute;
  width: 25%;
  height: 15%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 19.5%;
  z-index: 3;
}

body.off .question-mark .dot {
  background: var(--main-bg-color);;
}

.exclamation-mark .rectangle {
  position: absolute;
  width: 25%;
  height: 80%;
  background: var(--main-bg-color2);
  bottom: 20%;
  left: 37%;
  z-index: 3;
}

body.off .exclamation-mark .rectangle {
  background: var(--main-bg-color);;
}

.exclamation-mark .dot {
  position: absolute;
  width: 25%;
  height: 15%;
  background: var(--main-bg-color2);
  bottom: -1%;
  left: 37%;
  z-index: 3;
}

body.off .exclamation-mark .dot {
  background: var(--main-bg-color);;
}

.period .dot {
  position: absolute;
  width: 25%;
  height: 15%;
  background: var(--main-bg-color2);
  bottom: 36%;
  left: 36%;
  z-index: 3;
}

body.off .period .dot {
  background: var(--main-bg-color);;
}

.comma .dot {
  position: absolute;
  width: 25%;
  height: 30%;
  background: var(--main-bg-color2);
  bottom: 21%;
  left: 36%;
  z-index: 3;
}

body.off .comma .dot {
  background: var(--main-bg-color);;
}

.semicolon .dot {
  position: absolute;
  width: 25%;
  height: 15%;
  background: var(--main-bg-color2);
  bottom: 57%;
  left: 36%;
  z-index: 3;
}

body.off .semicolon .dot {
  background: var(--main-bg-color);;
}

.semicolon .comma {
  position: absolute;
  width: 25%;
  height: 30%;
  background: var(--main-bg-color2);
  bottom: 21%;
  left: 36%;
  z-index: 3;
}

body.off .semicolon .comma {
  background: var(--main-bg-color);;
}

.quote .comma1 {
  position: absolute;
  width: 25%;
  height: 30%;
  background: var(--main-bg-color2);
  bottom: 40%;
  left: 20%;
  z-index: 3;
}

body.off .quote .comma1 {
  background: var(--main-bg-color);;
}

.quote .comma2 {
  position: absolute;
  width: 25%;
  height: 30%;
  background: var(--main-bg-color2);
  bottom: 40%;
  left: 52%;
  z-index: 3;
}

body.off .quote .comma2 {
  background: var(--main-bg-color);;
}

.dash .dash {
  position: absolute;
  width: 50%;
  height: 25%;
  background: var(--main-bg-color2);
  bottom: 36%;
  left: 25%;
  z-index: 3;
}

body.off .dash .dash {
  background: var(--main-bg-color);;
}
