#grad {
  background: linear-gradient(#47d147, #3399ff) ;
}

.webring {
  position: fixed;
  top: 1em;
  right: 1em;
  background: white;
}

a{
  text-decoration: none;
}

a:hover{
  background: white;
}
