body {
    background: linear-gradient(to bottom, #47d147 0%, #3399ff 100%);
    max-width: 600px;
    font-color:black;
}

.webring {
  position: fixed;
  top: 1em;
  right: 1em;
  background: transparent;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  background: white;
}

a:visited{
  color: black;
}
