body {
    background: #47d147;
    max-width: 600px;
    font-color:black;
}

.webring {
  position: fixed;
  top: 1em;
  right: 1em;
  background: transparent;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  background: white;
}

a:visited{
  color: black;
}

#button{
  color: yellow;
  width: 8em;
  border-radius: 50%;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
}
