h1 {
  
}

body {
  background-color: white;
}

:root {
    --main-bg-color: black;
}

.letter-definition {
	display: none;
}

.word {
  display: inline-block;
  white-space: nowrap;
}

.space {
	width: 112px;
	height: 220px;
}

.letter {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  margin-right: 3em;
  margin-bottom: 5em;
}

.letterbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg-color);
}

body.off .letterbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.a .left-diagonal {
  position: absolute;
  width: 110%;
  height: 25%;
  background: white;
  transform: rotate(-80deg);
  margin-left: -22%;
}

body.off .a .left-diagonal {
  background: var(--main-bg-color);;
}

.a .left-diagonal {
  position: absolute;
  width: 110%;
  height: 25%;
  background: white;
  transform: rotate(-80deg);
  margin-left: -22%;
}

body.off .a .left-diagonal {
  background: var(--main-bg-color);;
}

.a .right-diagonal {
  position: absolute;
  width: 110%;
  height: 25%;
  background: white;
  transform: rotate(80deg);
  margin-left: 22%;
}

body.off .a .right-diagonal {
  background: var(--main-bg-color);;
}

.a .horizontal-one , .h .rectangle-middle {
  position: absolute;
  width: 85%;
  height: 25%;
  background: white;
}

body.off .a .horizontal-one , body.off .h .rectangle-middle {
  background: var(--main-bg-color);;
}

.a .triangle {
  width: 40%;
  height: 40%;
  border-bottom: 100px solid white;
  left: 31%;
  bottom: 55%;
  position: absolute;
}

body.off .a .triangle {
  border-bottom: 100px solid var(--main-bg-color);;
}

.b .halfcircle-one {
  position: absolute;
  height: 80%;
  width: 55%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(90deg);
  left: 25%;
  bottom: -14%;
}

body.off .b .halfcircle-one {
  background: var(--main-bg-color);;
}

.b .halfcircle-two {
  position: absolute;
  height: 80%;
  width: 55%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(90deg);
  left: 25%;
  bottom: 37%;
}

body.off .b .halfcircle-two {
  background: var(--main-bg-color);;
}

.c .halfcircle , .g .halfcircle {
  position: absolute;
  height: 82%;
  width: 110%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(-90deg);
  margin-left: -2%;
  margin-bottom: 0;
}

body.off .c .halfcircle , body.off .g .halfcircle {
  background: var(--main-bg-color);;
}

.c .halfcircle2 , .g .halfcircle2 {
  position: absolute;
  height: 60%;
  width: 60%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(-90deg);
  margin-left: 15%;
  margin-bottom: 0;
  z-index: 2;
}

body.off .c .halfcircle2 , body.off .g .halfcircle2 {
  background: white;
}

.d .halfcircle {
  position: absolute;
  height: 80%;
  width: 105%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(90deg);
  left: -3%;
  bottom: 12%;
}

body.off .d .halfcircle {
  background: var(--main-bg-color);;
}

.e .rectangle-top , .f .rectangle-top , .i .rectangle-top {
  position: absolute;
  width: 82%;
  height: 25%;
  background: white;
  bottom: 75%;
}

body.off .e .rectangle-top , body.off .f .rectangle-top , body.off .i .rectangle-top {
  background: var(--main-bg-color);;
}

.e .rectangle-middle , .f .rectangle-middle {
  position: absolute;
  width: 75%;
  height: 25%;
  background: white;
  bottom: 35%;
}

body.off .e .rectangle-middle , body.off .f .rectangle-middle {
  background: var(--main-bg-color);;
}

.e .rectangle-bottom , .i .rectangle-bottom {
  position: absolute;
  width: 82%;
  height: 25%;
  background: white;
  bottom: -5%;
}

body.off .e .rectangle-bottom , body.off .i .rectangle-bottom {
  background: var(--main-bg-color);;
}

.e .rectangle-back , .f .rectangle-back {
  position: absolute;
  width: 30%;
  height: 105%;
  background: white;
  bottom: -5%;
  left: 20%;
}

body.off .e .rectangle-back , body.off .f .rectangle-back {
  background: var(--main-bg-color);;
}

.g .rectangle {
  position: absolute;
  width: 25%;
  height: 60%;
  background: white;
  bottom: -5%;
  left: 65%;
  z-index: 3;
}

body.off .g .rectangle {
  background: var(--main-bg-color);;
}

.h .rectangle-left {
  position: absolute;
  width: 25%;
  height: 105%;
  background: white;
  bottom: -5%;
  left: 15%;
  z-index: 3;
}

body.off .h .rectangle-left {
  background: var(--main-bg-color);;
}

.h .rectangle-right {
  position: absolute;
  width: 25%;
  height: 105%;
  background: white;
  bottom: -5%;
  right: 15%;
  z-index: 3;
}

body.off .h .rectangle-right {
  background: var(--main-bg-color);;
}

.i .rectangle-long {
  position: absolute;
  width: 25%;
  height: 105%;
  background: white;
  bottom: -5%;
  left: 38%;
  z-index: 3;
}

body.off .i .rectangle-long {
  background: var(--main-bg-color);;
}

.j .halfcircle {
  position: absolute;
  height: 54%;
  width: 86.75%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(180deg);
  left: 7%;
  bottom: -4%;
}

body.off .j .halfcircle {
  background: var(--main-bg-color);;
}

.j .halfcircle2 {
  position: absolute;
  height: 35%;
  width: 41%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(180deg);
  left: 30%;
  bottom: 18%;
  z-index: 2;
}

body.off .j .halfcircle2 {
  background: white;
}

.j .rectangle1 {
  position: absolute;
  width: 23.5%;
  height: 60%;
  background: white;
  bottom: 25%;
  left: 70.5%;
  z-index: 3;
}

body.off .j .rectangle1 {
  background: var(--main-bg-color);;
}

.j .rectangle2 {
  position: absolute;
  width: 86%;
  height: 25%;
  background: white;
  bottom: 75%;
  left: 8%;
  z-index: 3;
}

body.off .j .rectangle2 {
  background: var(--main-bg-color);;
}

.k .rectangle-long , .p .rectangle {
  position: absolute;
  width: 30%;
  height: 110%;
  background: white;
  bottom: -5%;
  left: 19%;
  z-index: 3;
}

body.off .k .rectangle-long , body.off .p .rectangle {
  background: var(--main-bg-color);;
}

.k .diagonal-top {
  position: absolute;
  width: 111%;
  height: 25%;
  background: white;
  transform: rotate(-30deg);
  margin-left: 6%;
  bottom: 54%;
}

body.off .k .diagonal-top {
  background: var(--main-bg-color);;
}

.k .diagonal-bottom {
  position: absolute;
  width: 96%;
  height: 25%;
  background: white;
  transform: rotate(40deg);
  margin-left: 18%;
  bottom: 19%;
}

body.off .k .diagonal-bottom {
  background: var(--main-bg-color);;
}

.l .rectangle-long {
  position: absolute;
  width: 25%;
  height: 105%;
  background: white;
  bottom: 0%;
  left: 20%;
  z-index: 3;
}

body.off .l .rectangle-long {
  background: var(--main-bg-color);;
}

.l .rectangle-short {
  position: absolute;
  width: 82%;
  height: 25%;
  background: white;
  bottom: 0%;
}

body.off .l .rectangle-short {
  background: var(--main-bg-color);;
}

.m .rectangle-long-left , .n .rectangle-long-left , .w .rectangle-long-left{
  position: absolute;
  width: 25%;
  height: 105%;
  background: white;
  bottom: -5%;
  left: 8%;
  z-index: 3;
}

body.off .m .rectangle-long-left , body.off .n .rectangle-long-left , body.off .w .rectangle-long-left{
  background: var(--main-bg-color);;
}

.m .rectangle-long-right , .n .rectangle-long-right , .w .rectangle-long-right{
  position: absolute;
  width: 25%;
  height: 105%;
  background: white;
  bottom: -5%;
  left: 67%;
  z-index: 3;
}

body.off .m .rectangle-long-right , body.off .n .rectangle-long-right , body.off .w .rectangle-long-right{
  background: var(--main-bg-color);;
}


.m .rectangle-short-left {
  position: absolute;
  width: 31%;
  height: 28%;
  background: white;
  transform: rotate(45deg);
  margin-left: -16%;
  bottom: 65%;
}

body.off .m .rectangle-short-left {
  background: var(--main-bg-color);;
}

.m .rectangle-short-right {
  position: absolute;
  width: 55%;
  height: 28%;
  background: white;
  transform: rotate(-45deg);
  margin-left: 9%;
  bottom: 57.5%;
}

body.off .m .rectangle-short-right {
  background: var(--main-bg-color);;
}

.n .diagonal {
  position: absolute;
  width: 108%;
  height: 25%;
  background: white;
  transform: rotate(60deg);
  left: -4%;
  bottom: 35%;
}

body.off .n .diagonal {
  background: var(--main-bg-color);;
}

.o .circle , .q .circle {
  position: absolute;
  left: 6%;
  bottom: -3%;
  background: white;
  height: 106%;
  width: 87%;
  border-radius: 50%;
  }

body.off .o .circle , body.off .q .circle {
    background: var(--main-bg-color);;
    }

.p .half-circle , .r .half-circle {
  position: absolute;
  height: 70%;
  width: 71%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(90deg);
  left: 23%;
  bottom: 34%;
}

body.off .p .half-circle , body.off .r .half-circle {
  background: var(--main-bg-color);;
}

.p .rectangle-small {
  position: absolute;
  height: 25%;
  width: 25%;
  left: 9%;
  bottom: 34%;
  background: white;
}

body.off .p .rectangle-small {
  background: var(--main-bg-color);;
}

.q .rectangle {
  position: absolute;
  height: 25%;
  width: 35%;
  right: -10%;
  bottom: 0%;
  background: white;
  transform: rotate(45deg);
}

body.off .q .rectangle {
  background: var(--main-bg-color);;
}

.r .rectangle {
  position: absolute;
  width: 30%;
  height: 110%;
  background: white;
  bottom: -5%;
  left: 10%;
  z-index: 3;
}

body.off .r .rectangle {
  background: var(--main-bg-color);;
}

.r .rectangle2 {
  position: absolute;
  height: 25%;
  width: 70%;
  right: -3%;
  bottom: 6%;
  background: white;
  transform: rotate(45deg);
}

body.off .r .rectangle2 {
  background: var(--main-bg-color);;
}

.s .rectangle-top {
  position: absolute;
  width: 85%;
  height: 25%;
  background: white;
  bottom: 75%;
  left: 7%;
}

body.off .s .rectangle-top {
  background: var(--main-bg-color);;
}

.s .rectangle-diagonal {
  position: absolute;
  width: 23%;
  height: 102%;
  background: white;
  bottom: -1%;
  left: 36%;
  transform: rotate(-38deg);
    }

body.off .s .rectangle-diagonal {
  background: var(--main-bg-color);;
}

.s .rectangle-bottom {
  position: absolute;
  width: 85%;
  height: 20%;
  background: white;
  bottom: 0%;
  left: 8%;
}

body.off .s .rectangle-bottom {
  background: var(--main-bg-color);;
}

.s .rectangle-left{
  position: absolute;
  width: 25%;
  height: 20%;
  background: white;
  bottom: 15%;
  left: 8%;
}

body.off .s .rectangle-left{
  background: var(--main-bg-color);;
}

.s .rectangle-right {
  position: absolute;
  width: 25%;
  height: 25%;
  background: white;
  bottom: 60%;
  left: 67%;
}

body.off .s .rectangle-right {
  background: var(--main-bg-color);;
}

.t .rectangle-top , .z .rectangle-top {
  position: absolute;
  width: 85%;
  height: 25%;
  background: white;
  bottom: 75%;
  left: 7%;
}

body.off .t .rectangle-top , body.off .z .rectangle-top {
  background: var(--main-bg-color);;
}

.t .rectangle-bottom {
  position: absolute;
  width: 25%;
  height: 100%;
  background: white;
  bottom: -1%;
  left: 39%;
}

body.off .t .rectangle-bottom {
  background: var(--main-bg-color);;
}

.u .half-circle1 {
  position: absolute;
  height: 110%;
  width: 80%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(180deg);
  left: 10%;
  bottom: -10%;
}

body.off .u .half-circle1 {
  background: var(--main-bg-color);;
}

.u .half-circle2 {
  position: absolute;
  height: 80%;
  width: 30%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(180deg);
  left: 36%;
  bottom: 20%;
  z-index: 2;
}

body.off .u .half-circle2 {
  background: white;
}

.v .rectangle-left {
  position: absolute;
  width: 23%;
  height: 112%;
  background: white;
  bottom: -4%;
  left: 61%;
  transform: rotate(25deg);
}

body.off .v .rectangle-left {
  background: var(--main-bg-color);;
}

.v .rectangle-right {
  position: absolute;
  width: 23%;
  height: 112%;
  background: white;
  bottom: -4%;
  left: 15%;
  transform: rotate(-25deg);
}

body.off .v .rectangle-right {
  background: var(--main-bg-color);;
}

.v .square{
  position: absolute;
  width: 18%;
  height: 15%;
  background: white;
  bottom: -3%;
  left: 39.5%;
  z-index: 3;
}

body.off .v .square{
  background: var(--main-bg-color);;
}

.w .rectangle-short-left {
  position: absolute;
  width: 31%;
  height: 28%;
  background: white;
  transform: rotate(-45deg);
  margin-left: -16%;
  bottom: 2%;
}

body.off .w .rectangle-short-left {
  background: var(--main-bg-color);;
}

.w .rectangle-short-right {
  position: absolute;
  width: 55%;
  height: 28%;
  background: white;
  transform: rotate(45deg);
  margin-left: 9%;
  bottom: 10.5%;
}

body.off .w .rectangle-short-right {
  background: var(--main-bg-color);;
}

.x .rectangle-left {
  position: absolute;
  width: 23%;
  height: 142%;
  background: white;
  bottom: -22%;
  left: 37%;
  transform: rotate(-45deg);
}

body.off .x .rectangle-left {
  background: var(--main-bg-color);;
}

.x .rectangle-right {
  position: absolute;
  width: 23%;
  height: 142%;
  background: white;
  bottom: -22%;
  left: 39%;
  transform: rotate(45deg);
}

body.off .x .rectangle-right {
  background: var(--main-bg-color);;
}

.y .rectangle-left {
  position: absolute;
  width: 23%;
  height: 80%;
  background: white;
  bottom: 32%;
  left: 17%;
  transform: rotate(-45deg);
}

body.off .y .rectangle-left {
  background: var(--main-bg-color);;
}

.y .rectangle-right {
  position: absolute;
  width: 23%;
  height: 80%;
  background: white;
  bottom: 31%;
  left: 61%;
  transform: rotate(45deg);
}

body.off .y .rectangle-right {
  background: var(--main-bg-color);;
}

.y .rectangle {
  position: absolute;
  width: 23%;
  height: 65%;
  background: white;
  bottom: 0%;
  left: 39%;
}

body.off .y .rectangle {
  background: var(--main-bg-color);;
}


.z .diagonal {
  position: absolute;
  width: 23%;
  height: 102%;
  background: white;
  bottom: -1%;
  left: 40%;
  transform: rotate(38deg);

}

body.off .z .diagonal {
  background: var(--main-bg-color);;
}

.z .rectangle-bottom {
  position: absolute;
  width: 85%;
  height: 20%;
  background: white;
  bottom: 0%;
  left: 8%;
}

body.off .z .rectangle-bottom {
  background: var(--main-bg-color);;
}

.zero .circle {
  position: absolute;
  left: 13%;
  bottom: -3%;
  background: white;
  height: 106%;
  width: 75%;
  border-radius: 50%;
}

body.off .zero .circle {
  background: var(--main-bg-color);;
}

.one .line {
  position: absolute;
  width: 25%;
  height: 105%;
  background: white;
  bottom: -5%;
  left: 37%;
  z-index: 3;
}

body.off .one .line {
  background: var(--main-bg-color);;
}

.two .circle1 , .three .circle1 , .question-mark .circle1 {
  position: absolute;
  height: 82%;
  width: 60%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(90deg);
  left: 20%;
  bottom: 30%;
}

body.off .two .circle1 , body.off .three .circle1 , body.off .question-mark .circle1 {
  background: var(--main-bg-color);;
}

.two .circle2 , .three .circle2 , .question-mark .circle2{
  position: absolute;
  height: 54%;
  width: 25%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(90deg);
  left: 22%;
  bottom: 45%;
  z-index: 2;
}

body.off .two .circle2 , body.off .three .circle2 , body.off .question-mark .circle2{
  background: white;
}

.two .line1 {
  position: absolute;
  width: 25%;
  height: 60%;
  background: white;
  bottom: -1%;
  left: 20%;
  z-index: 3;
}

body.off .two .line1 {
  background: var(--main-bg-color);;
}

.two .line2 {
  position: absolute;
  width: 80%;
  height: 23%;
  background: white;
  bottom: -1%;
  left: 9%;
  z-index: 3;
}

body.off .two .line2 {
  background: var(--main-bg-color);;
}

.three .circle3 {
  position: absolute;
  height: 82%;
  width: 60%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(90deg);
  left: 20%;
  bottom: -13%;
}

body.off .three .circle3 {
  background: var(--main-bg-color);;
}

.three .circle4 {
  position: absolute;
  height: 54%;
  width: 23%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);
  transform: rotate(90deg);
  left: 22%;
  bottom: 1%;
  z-index: 2;
}

body.off .three .circle4 {
  background: white;
}

.three .rectangle {
  position: absolute;
  width: 20%;
  height: 21%;
  background: var(--main-bg-color);
  bottom: 39%;
  left: 9%;
  z-index: 3;
}

body.off .three .rectangle {
  background: white;
}

.four .rectangle-short-left {
  position: absolute;
  width: 25%;
  height: 50%;
  background: white;
  bottom: 51%;
  left: 10%;
  z-index: 3;
}

body.off .four .rectangle-short-left {
  background: var(--main-bg-color);;
}

.four .rectangle-long-right {
  position: absolute;
  width: 25%;
  height: 102%;
  background: white;
  bottom: -2%;
  left: 55%;
  z-index: 3;
}

body.off .four .rectangle-long-right {
  background: var(--main-bg-color);;
}

.four .rectangle-middle {
  position: absolute;
  width: 80%;
  height: 25%;
  background: white;
  bottom: 39%;
  left: 10%;
  z-index: 3;
}

body.off .four .rectangle-middle {
  background: var(--main-bg-color);;
}

.five .circle1{
  position: absolute;
  height: 82%;
  width: 60%;
  border-radius: 50% 50% 0 0;
  background: white;
  transform: rotate(90deg);
  left: 20%;
  bottom: -13%;
}

body.off .five .circle1{
  background: var(--main-bg-color);;
}

.five .circle2 {
  position: absolute;
  height: 54%;
  width: 25%;
  border-radius: 50% 50% 0 0;
  background: var(--main-bg-color);;
  transform: rotate(90deg);
  left: 22%;
  bottom: 0%;
  z-index: 4;
}

body.off .five .circle2 {
  background: white;
}

.five .rectangle1 {
  position: absolute;
  width: 25%;
  height: 61%;
  background: white;
  bottom: 39%;
  left: 20%;
  z-index: 3;
}

body.off .five .rectangle1 {
  background: var(--main-bg-color);;
}

.five .rectangle2 {
  position: absolute;
  width: 80%;
  height: 25%;
  background: white;
  bottom: 77%;
  left: 9%;
  z-index: 3;
}

body.off .five .rectangle2 {
  background: var(--main-bg-color);;
}

.six .rectangle {
  position: absolute;
  width: 25%;
  height: 75%;
  background: white;
  bottom: 26%;
  left: 8%;
  z-index: 3;
}

body.off .six .rectangle {
  background: var(--main-bg-color);;
}

.seven .rectangle-top {
  position: absolute;
  width: 85%;
  height: 25%;
  background: white;
  bottom: 75%;
  left: 7%;
  z-index: 3;
}

body.off .seven .rectangle-top {
  background: var(--main-bg-color);;
}

.seven .rectangle-diagonal , .nine .rectangle{
  position: absolute;
  width: 25%;
  height: 100%;
  background: white;
  bottom: -1%;
  left: 67%;
  z-index: 3;
}

body.off .seven .rectangle-diagonal , body.off .nine .rectangle{
  background: var(--main-bg-color);;
}

.eight .circle1 , .six .circle1{
  position: absolute;
  width: 85%;
  height: 65%;
  background: white;
  border-radius: 50%;
  left: 8%;
  bottom: -3%;
}

body.off .eight .circle1 , body.off .six .circle1{
  background: var(--main-bg-color);;
}


.eight .circle3 , .nine .circle1 {
  position: absolute;
  width: 85%;
  height: 65%;
  background: white;
  border-radius: 50%;
  left: 8%;
  bottom: 37%;
}

body.off .eight .circle3 , body.off .nine .circle1 {
  background: var(--main-bg-color);;
}

.nine .rectangle{
  position: absolute;
  width: 25%;
  height: 75%;
  background: white;
  bottom: -1%;
  left: 68%;
  z-index: 3;
}

body.off .nine .rectangle{
  background: var(--main-bg-color);;
}

.question-mark .rectangle{
  position: absolute;
  width: 25%;
  height: 25%;
  background: white;
  bottom: 19%;
  left: 19.5%;
  z-index: 3;
}

body.off .question-mark .rectangle{
  background: var(--main-bg-color);;
}

.question-mark .dot {
  position: absolute;
  width: 25%;
  height: 15%;
  background: white;
  bottom: -1%;
  left: 19.5%;
  z-index: 3;
}

body.off .question-mark .dot {
  background: var(--main-bg-color);;
}

.exclamation-mark .rectangle {
  position: absolute;
  width: 25%;
  height: 80%;
  background: white;
  bottom: 20%;
  left: 37%;
  z-index: 3;
}

body.off .exclamation-mark .rectangle {
  background: var(--main-bg-color);;
}

.exclamation-mark .dot {
  position: absolute;
  width: 25%;
  height: 15%;
  background: white;
  bottom: -1%;
  left: 37%;
  z-index: 3;
}

body.off .exclamation-mark .dot {
  background: var(--main-bg-color);;
}

.period .dot {
  position: absolute;
  width: 25%;
  height: 15%;
  background: white;
  bottom: 36%;
  left: 36%;
  z-index: 3;
}

body.off .period .dot {
  background: var(--main-bg-color);;
}

.comma .dot {
  position: absolute;
  width: 25%;
  height: 30%;
  background: white;
  bottom: 21%;
  left: 36%;
  z-index: 3;
}

body.off .comma .dot {
  background: var(--main-bg-color);;
}

.semicolon .dot {
  position: absolute;
  width: 25%;
  height: 15%;
  background: white;
  bottom: 57%;
  left: 36%;
  z-index: 3;
}

body.off .semicolon .dot {
  background: var(--main-bg-color);;
}

.semicolon .comma {
  position: absolute;
  width: 25%;
  height: 30%;
  background: white;
  bottom: 21%;
  left: 36%;
  z-index: 3;
}

body.off .semicolon .comma {
  background: var(--main-bg-color);;
}

.quote .comma1 {
  position: absolute;
  width: 25%;
  height: 30%;
  background: white;
  bottom: 40%;
  left: 20%;
  z-index: 3;
}

body.off .quote .comma1 {
  background: var(--main-bg-color);;
}

.quote .comma2 {
  position: absolute;
  width: 25%;
  height: 30%;
  background: white;
  bottom: 40%;
  left: 52%;
  z-index: 3;
}

body.off .quote .comma2 {
  background: var(--main-bg-color);;
}

.dash .dash {
  position: absolute;
  width: 50%;
  height: 25%;
  background: white;
  bottom: 36%;
  left: 25%;
  z-index: 3;
}

body.off .dash .dash {
  background: var(--main-bg-color);;
}
