.object{
  position: absolute;
  will-change: transform, opacity;
}

body{
  background: black;
  width: 100%;
  height: 100%;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
      visibility: hidden;
   }
   50% {
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
   }
  100% {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
   }
}

#line1 {
  height: 50%;
  width: 0.5%;
  left: 5%;
  top: 5%;
  background-color: white;
  animation: fadeInDown 2s;
}

#line2 {
  height: 40%;
  width: 0.5%;
  left: 10%;
  top: 10%;
  background-color: white;
  animation: fadeInDown 4s;
}

#line3 {
  height: 30%;
  width: 0.5%;
  left: 15%;
  top: 15%;
  background-color: white;
  animation: fadeInDown 6s;
}

#line4 {
  height: 20%;
  width: 0.5%;
  left: 20%;
  top: 20%;
  background-color: white;
  animation: fadeInDown 8s;
}

#line5 {
  height: 10%;
  width: 0.5%;
  left: 25%;
  top: 25%;
  background-color: white;
  animation: fadeInDown 10s;
}

#left-square {
    width: 5%;
    left: 21%;
    top: 41%;
    background-color: white;
    animation: fadeInDown 12s;
  }

#left-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#line6 {
    height: 15%;
    width: 1%;
    left: 30.5%;
    top: 36%;
    background-color: white;
    animation: fadeInDown 10s;
}

#line7 {
    height: 30%;
    width: 1%;
    left: 35.5%;
    top: 29%;
    background-color: white;
    animation: fadeInDown 8s;
}

#line8 {
    height: 45%;
    width: 1%;
    left: 40.5%;
    top: 22%;
    background-color: white;
    animation: fadeInDown 6s;
}

#line9 {
    height: 60%;
    width: 1%;
    left: 45.5%;
    top: 15%;
    background-color: white;
    animation: fadeInDown 4s;
}

#line10 {
    height: 75%;
    width: 1%;
    left: 50%;
    top: 6%;
    background-color: white;
    animation: fadeInDown 2s;
}
